<h1> {{title}}</h1>
<a routerLink="">Restaurant</a>&nbsp;
<a routerLink="templatedriven">Template</a>&nbsp;
<a routerLink="reactiveform">Reactive</a>&nbsp;
<a [routerLink]="['bindingform',1]">Binding</a>&nbsp;
<a routerLink="admin/login">Login</a>&nbsp;
<a routerLink="admin/list">List</a>&nbsp;
<a routerLink="signup">SignUp</a>&nbsp;
<a routerLink="login">Login</a>&nbsp;
<a routerLink="customepipe"> Custome Pipes</a>
<a routerLink="nestedrouting"> NestedRouting</a>


<router-outlet></router-outlet>
<!-- <app-restaurant-dash>
  
</app-restaurant-dash> -->

<!-- Bindings Demo -->
<!-- <app-bindings>
    
</app-bindings> -->

<!-- Child Component Calling -->
<!-- <app-child-component (updateDataEvent)= "updateDataParentToChild($event)" [item] = "passDataToChild">

</app-child-component> -->

<!-- Template Driven Form -->
<!-- <app-template-driven>

</app-template-driven> -->

<!-- Reactive Form -->
<!-- <app-reactive-form>

</app-reactive-form> -->